// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
:root {
  --ion-color-primary: #8d64f6; /* morado Empatif aprox */
  --ion-color-primary-contrast: #ffffff;
  --ion-color-secondary: #ff6f61; /* coral */
  --ion-color-secondary-contrast: #000000;
  --ion-color-dark: #121212;
  --ion-font-family: 'Heebo', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
